header{
	font-family: "Arial";
	font-size: 0.8em;
	background-color: black;
	color: white;
	
	border-bottom: solid 2px  #08A364;
	position: relative;
	display: flex;

}
.logo{
	width: 10%;
	position: absolute;
	left: 10px;
	top: 5px;
}
.menu{
	width:90%;
	position: relative;
	left: 10px;
	top:5px;
}


header .img img{
	width: 150px;
}

.menu ul li{
	display: inline-block;
	text-align: center;
	padding: 5px 10px 10px 10px; 
}
.menu ul li:hover{
	background-color: #08A364;
}